Modbus/modbus_tcp.json
[
    {
        "id": "2015c28fe8431419",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9a167cd4cb5aa76c",
        "type": "modbus-client",
        "name": "Modbus Cli",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.10.10",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "5fc8050b986485cb",
        "type": "modbus-client",
        "name": "Modbus server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.10.10",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "9b938608d744449b",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b9136e445cfadc1e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d3f7ee822352eb90",
        "type": "ui_group",
        "name": "Default",
        "tab": "9b938608d744449b",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0909c55a1caf7f12",
        "type": "modbus-read",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "Read HR",
        "topic": "Demo",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "10",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "9a167cd4cb5aa76c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "2de5779099ab8677",
                "43cacce3ce51428c"
            ],
            []
        ]
    },
    {
        "id": "2de5779099ab8677",
        "type": "debug",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "43cacce3ce51428c",
        "type": "debug",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload[0]",
        "targetType": "msg",
        "statusVal": "payload[0]",
        "statusType": "auto",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "226237fe592eaaec",
        "type": "comment",
        "z": "2015c28fe8431419",
        "name": "Modbus Holding Register (Analog Output)",
        "info": "",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "659221b0ffd47931",
        "type": "modbus-read",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "Modbus Input Register",
        "topic": "Demo",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "10",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "9a167cd4cb5aa76c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 280,
        "y": 380,
        "wires": [
            [
                "bd31d2ebf43ad7b6",
                "660722c6f334b8e1",
                "9aa06ba9408d7439"
            ],
            []
        ]
    },
    {
        "id": "bd31d2ebf43ad7b6",
        "type": "debug",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "9586389ec1f95a6a",
        "type": "comment",
        "z": "2015c28fe8431419",
        "name": "Modbus Input Register (Analog Input)",
        "info": "",
        "x": 370,
        "y": 240,
        "wires": []
    },
    {
        "id": "660722c6f334b8e1",
        "type": "debug",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "debug 4",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload[0]",
        "targetType": "msg",
        "statusVal": "payload[0]",
        "statusType": "auto",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "9aa06ba9408d7439",
        "type": "debug",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "debug 5",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload[9]",
        "targetType": "msg",
        "statusVal": "payload[9]",
        "statusType": "auto",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "1ff155239f18502e",
        "type": "modbus-read",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "Binary Output",
        "topic": "Coil Status",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "10",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "9a167cd4cb5aa76c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 230,
        "y": 580,
        "wires": [
            [
                "2ea1281bd3c19f76",
                "63c757972da0b4ff"
            ],
            []
        ]
    },
    {
        "id": "2ea1281bd3c19f76",
        "type": "debug",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 540,
        "wires": []
    },
    {
        "id": "63c757972da0b4ff",
        "type": "debug",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "debug 7",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload[0]",
        "targetType": "msg",
        "statusVal": "payload[0]",
        "statusType": "auto",
        "x": 390,
        "y": 620,
        "wires": []
    },
    {
        "id": "ac7afb3db51801c2",
        "type": "comment",
        "z": "2015c28fe8431419",
        "name": "Modbus Coil Status (Binary Output)",
        "info": "",
        "x": 300,
        "y": 480,
        "wires": []
    },
    {
        "id": "5e3b42e81a4addc4",
        "type": "comment",
        "z": "2015c28fe8431419",
        "name": "Modbus Input Status (Binary Input)",
        "info": "",
        "x": 300,
        "y": 720,
        "wires": []
    },
    {
        "id": "4d2973f930fcacbb",
        "type": "modbus-read",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "Modbus Binary Input",
        "topic": "Binary Input",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Input",
        "adr": "0",
        "quantity": "10",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "9a167cd4cb5aa76c",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 210,
        "y": 820,
        "wires": [
            [
                "1194740bc7069f87",
                "e9f2bcd0f3df4c73"
            ],
            []
        ]
    },
    {
        "id": "1194740bc7069f87",
        "type": "debug",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 780,
        "wires": []
    },
    {
        "id": "e9f2bcd0f3df4c73",
        "type": "debug",
        "z": "2015c28fe8431419",
        "d": true,
        "name": "debug 9",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload[0]",
        "targetType": "msg",
        "statusVal": "payload[0]",
        "statusType": "auto",
        "x": 390,
        "y": 860,
        "wires": []
    },
    {
        "id": "61f9c2c357599061",
        "type": "comment",
        "z": "2015c28fe8431419",
        "name": "Updating Holding Register",
        "info": "",
        "x": 270,
        "y": 960,
        "wires": []
    },
    {
        "id": "a5b03d3612896088",
        "type": "modbus-write",
        "z": "2015c28fe8431419",
        "name": "Modbus cli",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "server": "5fc8050b986485cb",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 330,
        "y": 1060,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "70502a7905fb92e3",
        "type": "ui_slider",
        "z": "2015c28fe8431419",
        "name": "Control HR 0",
        "label": "Control HR 0",
        "tooltip": "",
        "group": "d3f7ee822352eb90",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "200",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 1060,
        "wires": [
            [
                "a5b03d3612896088"
            ]
        ]
    },
    {
        "id": "d0e1439765c5fde1",
        "type": "ui_slider",
        "z": "2015c28fe8431419",
        "name": "Control HR 1",
        "label": "Control HR 1",
        "tooltip": "",
        "group": "d3f7ee822352eb90",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "200",
        "max": "400",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 1140,
        "wires": [
            [
                "56c8ddc663e2a135"
            ]
        ]
    },
    {
        "id": "56c8ddc663e2a135",
        "type": "modbus-write",
        "z": "2015c28fe8431419",
        "name": "Modbus cli",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "5fc8050b986485cb",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 330,
        "y": 1140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2b0a83c0d13c3b64",
        "type": "comment",
        "z": "2015c28fe8431419",
        "name": "Updating Coil Status",
        "info": "",
        "x": 290,
        "y": 1240,
        "wires": []
    },
    {
        "id": "168d547cb87ca080",
        "type": "modbus-write",
        "z": "2015c28fe8431419",
        "name": "Modbus cli",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1",
        "server": "5fc8050b986485cb",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 430,
        "y": 1300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "760625c6c20545c5",
        "type": "ui_switch",
        "z": "2015c28fe8431419",
        "name": "Control CS 0",
        "label": "Control CS 0",
        "tooltip": "",
        "group": "d3f7ee822352eb90",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 1300,
        "wires": [
            [
                "168d547cb87ca080"
            ]
        ]
    }
]